.cat{
    width: 100%;
    padding: 5%;
}

.tag{
    position: absolute;
   top: 15vw;
   left: 4vw; 
    
   padding: 1vw 2vw;
   background-color: black;
   color: white;
   font-size: 1.5vw;
}
.tag:hover{
    position: absolute;
   top: 15vw;
   left: 4vw; 
    
   padding: 1vw 2vw;
   background-color: white;
   color: black;
   font-size: 1.5vw;
}

.img-hover-zoom {
    height: 22vw; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }

  .img-hover-zoom img {
    transition: transform .5s ease;
  }

  .img-hover-zoom:hover img {
    transform: scale(1.2);
  }

@media screen and (max-width: 2560px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 1920px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 1707px) {
    .cat{
        height:22vw;
    } 
}

@media screen and (max-width: 1600px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width:1423px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width:1366px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 1280px) {
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 1164px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width:1024px){
    .cat{
        height:24vw;
    }
}

@media screen and (max-width: 992px) {
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 854px){
    .cat{
        height:22vw;
    }
}

@media screen and (max-width: 500px){   
    .cat{
        height:40vw;
    }

    
}

